article {
  width: 680px;
  margin: 40px auto;
}


h1 {
  font: 30px 'Lora', sans-serif;
  margin: 0 0 20px 0;
  color: #292929;
}

h2 {
  font: 20px 'Lora', sans-serif;
  color: gray;
  margin: 0 0 30px 0;
}

p {
  font: 10px/20px 'Lora', sans-serif;
  color: #292929;
  margin: 0 0 10px 0;
}

a {
  color: black;
}

figcaption {
  font: 5px 'Lora', sans-serif;
  color: #292929;
  text-align: center;
  margin: 10px 0 20px 0;
}

h3 {
  font: bold 30px 'Lora', sans-serif;
  margin: 0 0 20px 0;
  color: #292929;
}

figcaption a {
  color: gray;
}